#Blogs{
  width: 100%;
  .blogs-wrapper{
    width: 100%;
    height: 549px;
    background: url("../../assets/blog.jpeg");
    background-position: center center;
    background-size: cover;
    .blog-header{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 200px;
      color: white;
      h1{
        font-weight: 600;
        font-size: 48px;
      }
      h5{
        font-size: 18px;
        font-weight: 500;
        line-height: 18.77px;
        margin-top: 10px;
      }
    }
  }
  .blogs-header{
    max-width: 1240px;
    margin: 0 auto;
  }
}
