#doctors{
  width: 100%;
  margin-top: 73px;
  background: #E3EAEF;
  .doctors-wrapper{
    max-width: 1700px;
    margin: 0 auto;
    @media(max-width: 430px){
      max-width: 350px;
      margin: 0 auto;
    }
    .doctors-title{
      max-width: 1200px;
      margin: 0 auto;
      padding: 50px 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      @media(max-width: 450px){
       justify-content: space-evenly;
        padding: 50px 10px;
      }
      .doctors-img{
        max-width: 300px;
        @media(max-width: 450px){
          max-width: 200px;
          img{
            max-width: 200px;
          }
        }
        img{
          max-width: 300px;
        }
      }
      .doctors-link{
        button{
          display: flex;
          flex-direction: row;
          align-items: center;
          cursor: pointer;
          font-size: 18px;
          font-weight: 600;
          border: none;
          font-family: 'Work Sans', sans-serif;
          background: transparent;
          @media(max-width: 450px){
            font-weight: 500;
            font-size: 14px;
            span{
              margin-left: 2px;
            }
          }
          span{
            margin-left: 5px;
            &:hover{
              margin-left: 10px;
            }
          }
        }
      }
    }

    .doctor-cart{
      max-width: 317px;
      margin: 10px 0 50px 0;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
      border-radius: 7px;
      overflow: hidden;
      @media(max-width: 430px){
        max-width: 300px;
        margin: 0 auto 40px auto;
      }
      .doctor-img{
        width: 100%;
        overflow: hidden;
        img{
          width: 100%;
          height: auto;
          object-fit: contain;
          border-top-left-radius: 7px;
          border-top-right-radius: 7px;
          cursor: pointer;
          transition: .5s ease-in-out;
          &:hover{
            transform:scale(1.15);
          }
        }
      }
      .doctor-info{
        width: 100%;
        background: #fff;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h5{
          margin-top: 24px;
          font-size: 18px;
          font-weight: 400;
          color: #1F2B6C;
        }
        h4{
          font-weight: 700;
          font-size: 20px;
          margin-top: 7px;
        }
        .social-icons{
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-top: 16px;
          margin-bottom: 20px;
          cursor: pointer;
          .icon{
            margin: 0 10px;
            &:hover{
              opacity: .7;
            }
          }
        }
      }
    }
  }
}
