.docs {
    margin: 450px auto 50px auto;
    max-width: 1150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 99px;
    row-gap: 70px;

    .card {
      width: 317px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);

      &__header {
        max-width: 317px;
      }

      &__body {
        padding: 24px 0;
        text-align: center;;

        .name {
          font-weight: 400;
          font-size: 18px;
          color: #1F2B6C;
          margin-bottom: 5px;
        }

        .type {
          font-weight: 700;
          font-size: 18px;
          letter-spacing: 0.16em;
          text-transform: uppercase;
          color: #1F2B6C;
        }

        .socials {
          margin-top: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          column-gap: 10px;
        }
      }
    }
  }
