.header {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../../../assets/aboutImg.png) center center/cover no-repeat;
    padding: 267px 0 238px 0;

    .title {
      font-weight: 600;
      font-size: 48px;
      line-height: 56px;
      color: #FFFFFF;
      margin-bottom: 10px;
    }

    .descr {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.16em;
      text-transform: uppercase;
      color: #FFFFFF;
    }

    .founder {
      position: absolute;
      bottom: -110%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0 auto;
      width: 1240px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
      border-radius: 10px;
      overflow: hidden;
      background-color: #fff;

      &__descr {
        padding: 50px 50px 50px 50px;

        .title {
          font-weight: 600;
          font-size: 28px;
          line-height: 25px;
          color: #000000;
          margin-bottom: 10px;
        }

        .title__span {
          font-weight: 500;
          font-size: 20px;
          line-height: 25px;
          color: #1F2B6C;
        }

        .descr {
          margin: 35px 0;
          font-weight: 400;
          font-size: 16px;
          line-height: 25px;
          color: #000000;
        }

        .last__title {
          margin-top: 15px;
          font-weight: 600;
          font-size: 16px;
          line-height: 25px;
          color: #444444;
        }
      }
    }
  }