.programs {
    background: url(../../../assets/aboutsecondImg.png) center center/cover no-repeat;

    .wrapper {
      margin: 0 auto;
      max-width: 1040px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      padding: 158px 0;
      margin-bottom: 50px;

      .title {
        font-weight: 500;
        font-size: 32px;
        color: #FFFFFF;
        margin-bottom: 35px;
      }

      .descr {
        font-weight: 400;
        font-size: 24px;
        color: #FFFFFF;
        margin-bottom: 50px;
      }

      .programwrap {
        width: 665px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        row-gap: 35px;
        margin-bottom: 70px;

        .program {
          display: flex;
          column-gap: 30px;

          .intwrap {
            min-width: 70px;
            min-height: 70px;
            border: 1px solid white;
            display: flex;
            justify-content: center;
            align-items: center;

            .int {
              font-size: 36px;
              color: white;
              font-weight: 500;
            }
          }

          &__descr {
            font-weight: 500;
            font-size: 28px;
            color: #FFFFFF;
            text-align: left;
          }
        }
      }


      .last__descr {
        font-weight: 400;
        font-size: 24px;
        color: #FFFFFF;
      }
    }

  }